*{
  font-family: "Lucida Console", serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #007e7d;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

